* {
	color: #3F2860;
	background-color: #F5F5F5;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	line-height: 200%;
	line-height: 150px;
	text-align: center;
	font-weight: bold;
	background-color: #9BC1C2;
}

#nav {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

a {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

a:visited
{
	color:#497777;
}

a:hover
{
	color: #A26100;
}

footer {
	text-align: center;
	background-color: #9BC1C2;
}
footer a, i {
	background-color: #9BC1C2;
	font-size: small;
}

table 
{
	float: left;
	border-collapse: separate;
	border-spacing: 15px;
	width: 20%;
	height: 50px;
	padding-right: 3%;
	margin-bottom: 15%;
}

table tr th
{
	border-style: outset;
	border-collapse: separate;
	width: 150px;
	height: 50px;
}

p.content
{
	float: left;

}

p.yclass
{
	margin-top: 330px;
	margin-left: 250px;
}
 
p.address
{
	margin-top: 220px;
	margin-left: 180px;
}

p.yclassp
{
	margin-left: 300px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4.afterflt
{
	margin-left: 270px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.yschedule
{
	margin-top: 330px;
	margin-left: 250px;
}

h3.yschedulep
{
	margin-left: 270px;
}

h4.input
{
	text-decoration: none;
}


/*#wrapper {
	max-width: 80%;
	margin: auto;
}*/

form button
{
	display: initial;
	text-decoration-style: initial;
}

#registerform label{

	display: inline-block;
	width: 15%;
}

form input,textarea,select{
	background-color: #FFF; 
	/*margin-left: 2%; */
}

form label{

	display: inline-block;
	width: 10%;
}
.error{
	color: red;
}
